.uk-background-danger{
  background: #f0506e;
}
.uk-background-third{
  background: rgba(0, 0, 0, 0.2);
}

.uk-background-emphasis{
  background: #ff9800;
  color: #fff;
  border: 1px solid #ff9800;
}

.uk-background-black{
  background: #232323;
  border: 1px solid #232323;
  color: #fff;
}

.uk-background-white{
  background: #ffffff;
  border: 1px solid #232323;
}

.uk-background-active {
  color: $text-active-color;
  background: #FEDA00;
}

.uk-background-muted{
  background-color: #646464;
}

.uk-background-light {
  background-color: #f8f8f8;
}