.wc-available{
    font-size: 12px;
    padding: 5px;
    z-index: 1;
}

.wc-badge-image {
    top: 0;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.wc-close-modal {
    width: 30px;
    height: 30px;
    font-size: 15px;
    z-index: 99999;
}