.wc-btn-circle-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    z-index: 999;
}

.wc-btn-circle {
    display: block;
    position: relative;
    padding: 0;
    z-index: 98;
    margin: 0 auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #ff9800;
    transition: 0.2s;
    text-align: center;
    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        width: 30px;
        height: 30px;
        transition: 0.5s;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.wc-pagination-circle {
    width: 26px;
    height: 26px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #323232;
    color: #323232;
    cursor: pointer;
    z-index: 1;
    outline: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    & i {
        font-size: 16px;
        font-weight: 600;
    }
}

.wc-navigation-circle {
    width: 36px;
    height: 36px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #323232;
    color: #323232;
    position: absolute;
    cursor: pointer;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    outline: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    & i {
        font-size: 20px;
        font-weight: 600;
    }
}

.wc-btn {
    cursor: pointer;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05em;
    font-size: 13px;
    line-height: 20px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    padding: 8px 15px 6px;
    border: 1px solid $text-primary-color;
    min-width: 130px;
    max-width: 100%;
    background: $text-primary-color;
    color: #fff;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover{
        background: #fff;
        color: $text-primary-color;
    }
    &:active, &:visited, &:focus{
        background: $text-primary-color;
        color: #fff;
    }
    &.wc-btn-white{
        background: #fff;
        color: #333;
        border: 1px solid #333;
        &:hover{
            background: #333;
            color: #fff;
        }
        &:active, &:visited, &:focus{
            background: #fff;
            color: #333;
        }
    }
    &.wc-btn-small {
        font-size: 11px;
        line-height: 15px;
    }
}

.wc-extend-btn-width {
    min-width: 232px;
    width: 100%;
}