.pretty input:checked~.state.p-info-o .icon, .pretty input:checked~.state.p-info-o .svg, .pretty input:checked~.state.p-info-o svg, .pretty.p-toggle .state.p-info-o .icon, .pretty.p-toggle .state.p-info-o .svg, .pretty.p-toggle .state.p-info-o svg{
    color: $background-secondary-background;
    stroke: $background-secondary-background;
}

.pretty{
    margin-right: 0;
}
.pretty input:checked~.state.p-success label:after, .pretty.p-toggle .state.p-success label:after {
    background-color: $text-emphasis-color !important;
}
.pretty.p-svg .state svg {
    margin: 1px 0px 3px 0;
 }

@supports (-webkit-overflow-scrolling: touch) {
	.pretty.p-svg .state .svg {
		top: -3px;
	}
}