html, body, .app {
height: 100%;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: !important;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; 
}


/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; 
}
#page-wrap {
height: 100%;
overflow: hidden;
width:100%;
}
.sidebar-menu-mobile.wc-sidebar-wrapper{
    padding: 0px 30px 30px;
}

.sidebar-menu-tablet.wc-sidebar-wrapper{
    padding: 0px 40px 40px;
}
.menu {
background: #000 !important;
& .wc-sidebar-search{
    position: relative;
    width:100%;
    margin: 15px 0 30px;
    & input[type="search"]{
        height: 38px;
        padding: 3px 30px 4px;
        font-size: 13px;
        line-height: 1.23543;
        font-weight: 400;
        letter-spacing: -.022em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #ddd;
        outline: none;
        border: none;
        background-color: #282828;
    }
}
& .wc-sidebar-link {
    height: 43px; 
    border-bottom: 1px solid #282828;
    display: flex;
    align-items: center;

    & a{
    color: #ddd;
    font-weight: 300;
    display: block;
    width: 100%;
    line-height: 44px;
        &:hover{
            text-decoration: none;
        }
    }
    &:last-child{
        border-bottom:none;
    }
}

& .wc-sidebar-header {
    position: relative;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    & .wc-close-button{
        cursor:  pointer;
        position: absolute;
        top:15px;
        left:0;
    }
}
}

h1 {
font-size: 20px;
color: #232323;
text-transform: uppercase;
letter-spacing: .05em;
font-weight: 700;
line-height: 1.25em;
padding: 20px 0 20px 0;
}

.uk-badge {
margin-top: -7px;
margin-right: -10px;
}
.uk-link {
text-decoration: none;
&:hover, &:active, &:visited{
    text-decoration: none;
}
}

.uk-breadcrumb > * > * {
color: #999;
font-size: 11px;
padding: 30px 0 0 0;
}

.uk-border-compare{
border: 1px solid $color-extra;
}
.uk-border-propose{
border: 1px solid rgba(0, 0, 0, 0.12);
}
.uk-quick-access-item{
padding: 20px 0 5px 0;
box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.11), 0px 0px 0px rgba(0, 0, 0, 0.36);
}
.uk-border-link{
border-right: 1px solid #d6d6d6;
}
.uk-search-large .uk-search-icon:not(.uk-search-icon-flip) ~ .uk-search-input { padding-left: 38px; }
.border-breadcrumb{
border-bottom: 1px solid  rgba(34, 36, 38, 0.15);
}
.uk-border-none{
border: none;
}
.uk-background-transparent{
background-color: transparent !important;
}
.uk-offcanvas-bar .uk-select{
color:$text-white-color;
}
#uk-search-show .uk-nav-sub {
padding: 5px 0 5px 10px;
}
.uk-padding-icon{
padding: 6px;
}
.uk-alert-close svg{
width: $text-meta-font-size;
}
.fa.fa-filter{
width: $text-small-font-size;
}
.jsr_slider:focus::before,.jsr_slider::before, .jsr_bar{
background: $text-emphasis-color;
}
.jsr_rail{
background: #ff980096;
}
.uk-icon-login{
color:rgba(0, 0, 0, 0.25);
font-size: 80px;
}
.uk-background-account{
background-color: rgb(67, 129, 132);
}
.uk-available{
background: linear-gradient(#92d248,#4caf50);
margin-left:15px;
margin-top:15px;
}
.uk-offcanvas-bar .fa-star{
color:$text-emphasis-color;
}
.uk-button-item{
width:45px;
height:45px;
line-height:1;
}
.uk-border-quick-comapre{
border: 1px solid $text-emphasis-color;
}
.scroll {
font-size:20px;
bottom: 0;
right: 0;
opacity: 0;
transition: opacity 0.2s ease-out;
height: 50px;
line-height: 50px;
width: 50px;
}
.scroll.show {
opacity: 1;
}
.tabulator .tabulator-header .tabulator-col,.tabulator .tabulator-footer{
background: #fff;
}
.tabulator .tabulator-footer{
border-top: none;
height: 40px;
padding: 25px 10px;
}
.tabulator .tabulator-header{
border-bottom: 1px solid #ddd;
background: #fff;
line-height: 30px;
}
@media (max-width: 640px){
.tabulator .tabulator-header{
    overflow: auto;
}
}
.tabulator-header-filter input {
border: 1px solid #ddd;
}
.tabulator{
border: 1px solid #ddd;
border-left: none;
border-right: none;
border-bottom: none;
background:#aaa;
}
.tabulator-row .tabulator-cell.tabulator-editing {
border: 1px solid #ddd;
padding: 3px;
}
.tabulator-row{
min-height:40px;
line-height: 30px;
}
.tabulator-row .tabulator-cell,.tabulator .tabulator-header .tabulator-col{
border-right: none;
}
.tabulator .tabulator-footer .tabulator-page{
border: 1px solid #ddd;
border-radius: 0;
background: #fff;
font-weight:400;
}
.tabulator-row .tabulator-cell .tabulator-responsive-collapse-toggle{
background:#aaa;
height: 18px;
width: 18px;
}
.tabulator-row.tabulator-selectable:hover {
background-color: #fff;
}
.tabulator-row.tabulator-group {
border-bottom: 1px solid #ddd;
border-right: 1px solid #ddd;
border-top: 1px solid #ddd;
background: #fff;
}
.tabulator-row.tabulator-group span {
margin-left: 5px;
color: #aaa;
font-weight: 400;
}
.tabulator .tabulator-footer .tabulator-page.active {
color: #000;
font-weight: 700;
}
.tabulator-row.tabulator-group.tabulator-group-visible .tabulator-arrow{
border-top: 6px solid #bbb;
}
.tabulator-row.tabulator-group .tabulator-arrow{
border-left: 6px solid #bbb;
}
.tabulator-row .tabulator-cell{
min-height:40px;
line-height: 33px;
}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-arrow{
top:15px;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
background:#fff;
}
.tabulator-row.tabulator-selectable.tabulator-row-odd {
border: 1px solid #ddd;
border-left: none;
border-right: none;
}
.tabulator-row.tabulator-row-even {
background-color: #fff;
}
.tabulator .tabulator-footer .tabulator-page {
padding: 12px 15px;
}
.tabulator-row .tabulator-responsive-collapse {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}
.flexdatalist-results {
position: fixed;
border: 1px solid #ddd;
}
.flexdatalist-results li {
border-bottom: 1px solid #ddd;
}
.uk-button-search {
background-color:transparent !important;
border-color: rgba(255, 255, 255, 0.2) !important;
}
.uk-offcanvas-bar .uk-input{
background: transparent;
}
.uk-offcanvas-bar .uk-input:focus{
    border-color: rgba(255, 255, 255, 0.2) !important;
}
.uk-background-close {
background-color: rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px){
.flexdatalist-results {
    top:103px !important;
} 
}
.uk-active-wishlist{
background: #000;
}
.pagination li{
display:inline-block;
}
.pagination li a{
color:#222;
padding-left: 15px;
padding-right:15px;
line-height:35px;
}
.pagination li.active{
background:$text-emphasis-color;
}
.pagination li.active a{
text-decoration:none;
}
.uk-text-large-more{
font-size:20px;
letter-spacing:2px;
}
.uk-background-dashboard {
background: #282a3d;
}
.uk-component:hover{
background: #292b3a;
}

.wc-wrapper-title {
background-color: #fafafa;
border-top: 1px solid #e6e6e6;
border-bottom: 1px solid #e6e6e6;
padding: 13px 42px 10px;
text-align: center;
margin-bottom: 36px;
}

.wc-wrapper-title .wc-title {
font-size: 14px;
font-weight: 700;
letter-spacing: .05em;
text-transform: uppercase;
line-height: 24px;
color: #232323;
}

.wc-errors {
font-size: 12px;
margin-bottom: 15px;
}

.wc-registration-desc {
line-height: 24px;
font-size: 12px;
}

.wc-block-wrapper {
//border-bottom: 1px solid #e6e6e6;
padding-bottom: 40px;
}

.wc-title-desc {
border-top: 1px solid #e6e6e6;
padding-top: 28px;
margin-bottom: 25px;
line-height: 24px;
font-size: 12px;
}

.wc-init {
    padding-top: 48px;
}

.wc-init-extend {
    padding-top: 113px;
}

.wc-init-404 {
padding-top: 48px;
}

.bm-burger-button {
position: fixed;
width: 0;
height: 0;
left: 0;
top: 0;
}
.wc-not-found {
position: relative;
height:100vh;
& h1{
    font-size: 200px;
    line-height: 200px;
    font-weight: 300;
    letter-spacing: 0.07em;
    margin-bottom: 10px;
}
& h2{
    font-size: 100px;
    letter-spacing: 19px;
}
& h3 {
    margin: 26px 0 77px;
    font-size: 20px;
    text-align: center;
}

}
.wc-banner-item {
position: relative;
& .wc-img-box {
    text-align: center;
    & img{
        margin-left: auto;
        margin-right: auto; 
    }
    & .lazyloaded{
        opacity: 1;
        transition: opacity 300ms;
    }
}
& .wc-animate-scale {
    position: relative;
    display: block;
    overflow: hidden;
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #232323;
        overflow: hidden;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
        filter: alpha(opacity=0);
        z-index: 2;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    & img{
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
    &:hover img{
        -moz-transform: scale3d(1.1, 1.1, 1);
        -o-transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1); 
    }
    &:hover:before{
        overflow: visible;
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
        filter: alpha(opacity=30);
    }
}
& .wc-content-box{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 90%;
    text-align: center;
    & .wc-banner-title{
        color:#fff;
        font-size: 16px;
        letter-spacing: .05em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        display: inline-block;
        position: relative;
        & .wc-border-bt-hover {
            position: absolute;
            left: 0;
            width: 0;
            bottom: -.3rem;
            height: 2px;
            content: '';
            display: block;
            -webkit-transition: width 0.3s ease;
            -moz-transition: width 0.3s ease;
            -ms-transition: width 0.3s ease;
            -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
            background-color: #ffffff;
        }
    }
}
&:hover .wc-border-bt-hover{
    width: 100%;
}
}
.wc-info-device{
    & h4{margin-top:20px}
    & p{text-align: justify;}
    & .color {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid #666;
    }
}
.wc-related-device{
    & h1{
        text-transform: uppercase; 
        border-top: 1px solid #e6e6e6;
        padding-top:15px;
        font-weight: normal;
    }
}
.wc-item-device{
    & .uk-button{line-height: 28px;}
}
.accordion__button {
    border-bottom: 1px solid #e6e6e6;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 13px;
    cursor: pointer;
    position: relative;
    &:before{
        font-family: ForkAwesome;
        content: "\f106";
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        position: absolute;
        right: 0;
        top: -.5px;
    }
}
.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(180deg);
}
.accordion__panel ul li:hover{
    color: $text-primary-color;
}
.wc-item-color{
    cursor: pointer;
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px 10px 0;
    border: 2px solid #ddd;
    &:hover{
        border: 2px solid #000; 
    }
    &.active{
        border: 2px solid #000;
    }
}
.wc-option-category{
    background:#f8f8f8;
    height: 48px;
    padding-right:15px;
}
.wc-cart-header{
    font-size: 12px;
    background-color: #fafafa;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 20px 8px;
    font-weight: 600;
}

select{
    width: 100%;
}

input:-moz-read-only { /* For Firefox */
    background-color: #f8f8f8;
}

input:read-only {
    background-color: #f8f8f8;
}

.popup-overlay{
    z-index: 1;
}

.uk-position-cover {
    z-index: 3;
}

.wc-header-title {
    font-size: 16px;
    font-weight: 600;
}

.wc-price {
    font-size: 13px;
}

.wc-image-list{
    
}

.wc-mobile-tab-item{
    height: 48px;
    line-height: 48px;
    width: 33.33%;
}

.wc-widget-title {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 25px;
    & h3{
        font-size: 20px;
        letter-spacing: .05em;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 15px;
        &::before{
            position: absolute;
            content: "";
            height: 1px;
            background-color: #e0e0e0;
            top: -moz-calc(50% - 0.5px);
            top: -webkit-calc(50% - 0.5px);
            top: -ms-calc(50% - 0.5px);
            top: calc(50% - 0.5px);
            left: 0;
            right: 0;
            width: 100%;
        }
        & .wc-title{
            padding: 0 24px;
            position: relative;
            z-index: 1;
            background-color: #fff;
        }
    }
}

// .wc-cart-wrapper{
//     & .wc-cart-item{
//         & .wc-cart-item-img{

//         }
//     }
// }
.wc-banner-category{
    overflow: hidden;
    & .uk-background-cover{
        transition: all .5s;
    }
    &:hover .uk-background-cover {
        transform: scale(1.2);
    }
    & p{
        position: relative;
        transition: all 0.5s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &::after{
            transition: all 0.5s;
            content: "";
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            position: absolute;
            bottom: -3px;
            height: 1px;
            width: 0;
            background: #fff;
            left: 0;
        }
    }
    &:hover p:after{
        width: 100%;
    }
}

.wc-no-after {
    &:after{
        position: relative!important;
    }
}
.transactions{
    &_group{
        &-header{
            border-bottom:1px solid rgba(0,0,0,.09);
        }
        &-item{
            border-bottom:1px dotted rgba(0,0,0,.09) ;
        }
    }
}
.wc-navbar-div-inner{
    &:hover{
        color: #FEDA00;
    }
}
.uk-tab.uk-tab-left.list-scan{
    height: 1025px;
    overflow: scroll;
    flex-wrap: nowrap;
    border-right: 1px solid #e5e5e5;
    &::before{
        border-left:none;
    }
}

.scan-item{
    width: 310px;
    border:1px solid #e5e5e5;
}
.scan-body-item-error{
    background-color: #FBE7E7 !important;
}
.scan-border-bottom{
    border-bottom: 1px solid #EDECEC;
}
.uk-tab.uk-tab-left{flex-direction:column;margin-left:0}
.uk-tab.uk-tab-left>*{padding-left:0}
.uk-tab.uk-tab-left::before{top:0;bottom:0;left:auto;right:0;border-left:1px solid #e5e5e5;border-bottom:none}
.uk-tab.uk-tab-left>*>a{text-align:left;border-right:2px solid transparent;border-bottom:none}
.uk-tab.uk-tab-left>.uk-active>a {
    color: #222;
    border-color:#303A96;
}
.ReactModal__Overlay--after-open{
    background-color: #2323239c !important;
}
.step-dingtoi {
    background: #303A96;
    color: #fff;
    counter-increment: myCounter;
    margin: 0 0 30px 0;
    padding: 13px;
    position: relative;
    top: 13px;
    padding-left: 45px;
    font-size: 17px;
    border-radius: 5px;
    &.step-dingtoi-mobile{
        padding: 10px;
        padding-left: 34px;
        font-size: 15px;
    }
    &-number{
        display: inline-block !important;
        text-align: center;
        font-size: 22px;
        line-height: 51px;
        background-color: #FEDA00;
        font-weight: bold;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        color: #303a96;
        position: absolute;
        left: -25px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.overlay-modal-slide{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999 !important;
}