@media (min-width: $breakpoint-small) {
    .uk-flex-column\@s { flex-direction: column; }
    .uk-flex-row\@s { flex-direction: row; }
}

@media (min-width: $breakpoint-medium) {
    .uk-flex-row\@m { flex-direction: row; }
    .uk-flex-column\@m { flex-direction: column; }
}

@media (min-width: $breakpoint-large) {
    .uk-flex-row\@l { flex-direction: row; }
    .uk-flex-column\@l { flex-direction: column;}
}

@media (min-width: $breakpoint-xlarge) {

}