.wc-footer-wrapper {
    color: $footer-title;
    font-weight: 700;
    background: $footer-background;
}

.wc-footer-top {
    padding: 37px 0 25px;
    font-size: 12px;
}

.wc-footer-bottom {
    padding: 22px 0 65px;
    background-color: $footer-title;
    border-top: 1px solid #3b3b3b;
}
.wc-arr{
    color: $footer-background;
}
.wc-link{
    position: relative;
    padding: 0;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    color:#fff;
    font-weight: 700;
    &:hover, &:active, &:visited{
        text-decoration: none;
        color: $text-white-color;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &:after{
            width: 100%;
        }
    }
    &:after{
        transition: all 0.3s ease;
        content: "";
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        bottom: -3px;
        height: 1px;
        width: 0;
        background: $text-white-color;
        left: 0;
    }
}
.wc-social-icons {
    padding-left: 0px!important;
    letter-spacing: -.33em;
    margin: 0;
    line-height: 0;
    padding: 0;
    list-style: none;
    & li:first-child {
        margin-left: 0px;
    }
    & li {
        letter-spacing: normal;
        display: inline-block;
        margin: 0 7px;
        width: 37px;
        height: 37px;
        & a {
            color: #141414;
            background-color: #fff;
            font-size: 12px;
            display: block;
            line-height: 38px;
            position: relative;
            top: 1px;
            width: 36px;
            height: 36px;
            border: none;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }
    & .facebook:hover a {
        color: #fff;
        background-color: #3b5998;
    }
    & .twitter:hover a {
        color: #fff;
        background-color: #55acee;
    }
    & .gplus:hover a {
        color: #fff;
        background-color: #dd4b39;
    }
}

