@media (min-width: $breakpoint-small) {
    .uk-form-width-large\@s { width: 200px; }
}

@media (min-width: $breakpoint-medium) {
     .uk-form-width-large\@m { width: 300px; }
}

@media (min-width: $breakpoint-large) {
    .uk-form-width-large\@l { width: 400px; }
}

@media (min-width: $breakpoint-xlarge) {

}

.wc-form-group {
    margin-bottom: 15px;
    & label {
        font-weight: 500;
        display: inline-block;
        margin-bottom: 9px;
        font-size: 12px;
        line-height: 20px;
        color: #232323;
        & em {
            color: #f1152f;
            font-weight: 500;
            font-style: normal;
            margin-left: 3px;
        }
    }

    & select, input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="tel"], textarea{
        height: initial;
        padding: 7px 12px 5px;
        border: 1px solid #cbcbcb;
        color: #3c3c3c;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        width: 100%;
        max-width: 380px;
        display: block;
        outline: none;
        line-height: 22px;
        margin: 0;
        overflow: visible;
    }
    & .wc-field-error {
        font-size: 11px;
        color: $text-error-color;
        margin-top: 10px;
    }
    & .wc-field-success {
        font-size: 11px;
        color: $text-success-color;
        margin-top: 10px;
    }
}

.wc-form-action-btn {
    padding-top: 6px;
}

.wc-input-newsletter{
    & input[type="email"]{
        background-color: rgba(0,0,0,0);
        color: #717171;
        border: 2px solid;
        padding: 7px 15px 5px;
        margin-right: 5px;
        min-width: 293px;
        line-height: 22px;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        border-color: #fff;
    }
    & input[type="submit"]{
        cursor: pointer;
        background-color: $footer-title;
        border-color: #3b3b3b;
        color: $footer-background;
        min-width: 124px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .05em;
        line-height: 20px;
        outline: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        padding: 8px 15px 6px;
        border: 2px solid $footer-title;
        transition: all 0.3s ease;
        display: inline-block;
        &:hover{
            background-color: #ffffff;
            border-color: #3b3b3b;
            color: #3b3b3b;
            outline: none;
        box-shadow: none;
        }
    }
}
.wc-search-menu{
    width:500px;
    & input[type="search"]{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 17px;
        line-height: 1.29412;
        letter-spacing: -.021em;
        color: #fff;
        outline: none;
        height: 44px;
        padding: 0 17px 0 17px;
        border: none;
        background: transparent;
        -webkit-appearance:none;
        width: 80%;
    }
}
.wc-quick-link{
    position: absolute;
    background: #fff;
    padding: 30px;
    width: 500px;
    box-shadow: 0 2px 6px 4px #00000026;
    top: 100%;
    & a{
        color:#000 !important;
        &:hover{
            color: #f1152f !important;
            text-decoration: none;
        }
    }
    max-height: 400px;
    overflow: scroll;
}

.wc-label-item {
    & label{
        display: block;
        width: 100%;
    }
}

.wc-wizard-wrapper {
    border-top: 1px solid $text-blur-color;
    border-bottom: 1px solid $text-blur-color;
    padding: 12px 20px;
}

.wc-wizard-number {
    border: 2px solid $text-muted-color;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    margin-right: 15px;
    display: inline-flex;
}

.wc-wizard-item {
    position: relative;
    &.mobile {
        &:after {
            position: relative;
        }
        & .wc-wizard-number {
            margin-right: 0;
            margin-bottom: 5px;
        }
    }
    &:after{
        position: absolute;
        width: 1px;
        height: 30px;
        content: "";
        background: $text-blur-color;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }
    color: $text-muted-color;
    &.active {
        color: $text-active-color;
        & .wc-wizard-number {
            border: 2px solid $text-active-color;
        }
    }
}

.uk-input, .uk-select:not([multiple]):not([size]) {
    height: initial;
}