.wc-header-container{
    height: 65px;
}

.wc-header-breadcrumb-wrapper > a{
    text-decoration: none;
    color: $global-muted-color;
    font-size: $text-small-font-size;
    &:hover, &:active, &:visited{
        text-decoration: none;
    }
}

.wc-logo-inverse-wrapper{
    font-size: 25px;
    color: $text-white-color;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
}

.wc-logo-inverse-text{
    position: relative;
    z-index: 0;
    &:before, &:after {
        content: '';
        position: absolute;
        border-width: 18px;
        border-style: solid;
        border-color: transparent;
        height: 0;
        z-index: 10;
    }
    &:before {
        left: -4px;
        top: -6px;
        border-top-color: $navbar-background;
        border-left-color: $navbar-background;
    }
    &:after {
        right: -4px;  
        bottom: 4px;
        border-bottom-color: $navbar-background;
        border-right-color: $navbar-background;
    }
}

.wc-logo-wrapper{
    font-size: 30px;
    color: $navbar-background;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
}

.wc-logo-wrapper-white{
    font-size: 30px;
    color: $text-white-color;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
}

.wc-logo-text{
    position: relative;
    z-index: 0;
    &:before, &:after {
        content: '';
        position: absolute;
        border-width: 20px;
        border-style: solid;
        border-color: transparent;
        height: 0;
        z-index: 10;
    }
    &:before {
        left: -4px;
        top: -6px;
        border-top-color: $text-white-color;
        border-left-color: $text-white-color;
    }
    &:after {
        right: -4px;  
        bottom: 4px;
        border-bottom-color: $text-white-color;
        border-right-color: $text-white-color;
    }
}

.wc-logo-text-white{
    position: relative;
    z-index: 0;
    &:before, &:after {
        content: '';
        position: absolute;
        border-width: 20px;
        border-style: solid;
        border-color: transparent;
        height: 0;
        z-index: 10;
    }
    &:before {
        left: -4px;
        top: -6px;
        border-top-color: $text-white-color;
        border-left-color: $text-white-color;
    }
    &:after {
        right: -4px;  
        bottom: 4px;
        border-bottom-color: $text-white-color;
        border-right-color: $text-white-color;
    }
}

.wc-navbar-wrapper{
    background-color: $navbar-background;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.wc-navbar-inner{
    color: $text-white-color;
}

.wc-navbar-div-inner{
    height: 48px;
}

.wc-navbar-link-wrapper{
    background-color: $navbar-background;
}

.wc-navbar-link-inner{
    height: 48px;
    position: relative;
}

.wc-navbar-link-logo {
    text-decoration: none;
    &:hover, &:active, &:visited{
        text-decoration: none;
    }

}

.wc-navbar-mega {
    box-shadow: 0 3px 3px -3px rgba(0,0,0,0.1);
    font-size: 12px;
    color: #3c3c3c;
}

.wc-navbar-link{
    padding: 0;
    font-size: 12px;
    line-height: 1.65em;
    letter-spacing: .05em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    &:hover, &:active, &:visited{
        text-decoration: none;
        color: $text-white-color;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &:after{
            width: 100%;
        }
    }
    &:after{
        transition: all 0.3s ease;
        content: "";
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        bottom: 12px;
        height: 1px;
        width: 0;
        background: $text-white-color;
        left: 0;
    }
    & li {
        margin-bottom: 8px;
    }
}

.wc-navbar-div {
    cursor: pointer;
    padding: 0;
    font-size: 12px;
    line-height: 1.65em;
    letter-spacing: .05em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    &:hover, &:active, &:visited{
        text-decoration: none;
        color: $text-white-color;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    & li {
        margin-bottom: 8px;
    }
    & .uk-nav-sub {
        margin-bottom: 0;
        & a {
            border-bottom: 1px solid #ddd;
            display: block;
            padding: 2px 0;
            color: #333 !important;
            text-transform: none;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.wc-sidebar-wrapper {
    background-color: #fff;
    padding: 15px 20px 25px;
    min-height: 100vh;
}
.wc-sidebar-filter-wrapper{
    height: auto;
}
.wc-header-top {
    position: fixed;
    width: 100%;
    z-index: 999;
    box-sizing: border-box;
    background: #fff;
}

.wc-header-brand-wrapper {
    height: 75px;
    & img {
        max-width: 65px;
    }
    & .wc-brand-image {
        height: 75px;
        padding: 0 15px;
    }
}

.wc-navbar-wrapper-footer{
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 999;
    bottom: 0;
    & .wc-navbar-link-wrapper{
        background-color: #fff;
    }
    & .navbar-button{
        cursor: pointer;
        text-align: center;
        height: 50px;
        font-size: 14px;
        line-height: .4rem;
        width: 100%;
    }
}