@media (min-width: $breakpoint-small) {
    .uk-height-item\@s{
    	min-height:340px;
	}
    .uk-height-img-device\@s{
        height:550px;
    }
}

@media (min-width: $breakpoint-medium) {
   .uk-height-item\@m{
    	min-height:545px;
	}
    .uk-height-img-device\@m{
        height:450px;
    }
}

@media (min-width: $breakpoint-large) {
    .uk-height-item\@l{
    	min-height:250px;
	}
    .uk-height-img-device\@l{
        height:400px;
    }
}

@media (min-width: $breakpoint-xlarge) {
    
}
.uk-min-heigh-small{
	min-height: 48px;
}
.uk-min-heigh-quick-compare{
    min-height: 110px;
}
@media (min-width: 667px) {
    .uk-height-item\@m{
    	min-height:545px;
	}
}