.wc-image-list-pc {
    height: 200px;
    & img {
        max-height: 200px;
        width: auto;    
    }
}

.wc-image-list-tablet {
    height: 160px;
    & img {
        max-height: 160px;
        width: auto;    
    }
}

.wc-image-list-phone {
    height: 150px;
    & img {
        max-height: 150px;
        width: auto;    
    }
}

.wc-icon-device {
    width: 30px;
    height: 30px;
}

.magnifier-image {
    cursor: none;
    max-height: 350px;
    width: auto;
    margin: 0 auto;
}

.uk-width-img-popup {
    width: 65px;
}

.uk-cart-item-popup {
    text-transform: initial;
    line-height: initial;
    letter-spacing: initial;
}