@media (min-width: $breakpoint-small) {
    .uk-margin-bottom\@s { margin-bottom: $margin-margin !important; }
    .uk-margin-top\@s { margin-top: $margin-margin !important; }
    .uk-margin-remove\@s { margin: 0 !important; }
}

@media (min-width: $breakpoint-medium) {
    .uk-margin-left\@m { margin-left: $margin-margin !important; }
    .uk-margin-remove-left\@m { margin-left: 0 !important; }
    .uk-margin-remove-bottom\@m { margin-bottom: 0 !important; }
    .uk-margin-top\@m { margin-top: $margin-margin !important; }
    .uk-margin-large-left\@m { margin-left: $margin-large-margin-l !important; }
    .uk-margin-large-right\@m { margin-right: $margin-large-margin-l !important; }
}

@media (min-width: $breakpoint-large) {
    .uk-margin-remove-top\@l { margin-top: 0 !important; }
    .uk-margin-large-left\@l { margin-left: $margin-large-margin-l !important; }
    .uk-margin-large-right\@l { margin-right: $margin-large-margin-l !important; }
    .uk-margin-xlarge-left\@l { margin-left: $margin-xlarge-margin !important; }
    .uk-margin-xlarge-right\@l { margin-right: $margin-xlarge-margin !important; }
}

@media (min-width: $breakpoint-xlarge) {
    .uk-margin-xlarge-left\@xl { margin-left: $margin-xlarge-margin !important; }
    .uk-margin-xlarge-right\@xl { margin-right: $margin-xlarge-margin !important; }
}

.uk-margin-xsmall-top{
    margin-top: 8px!important;
}
.uk-margin-xsmall-bottom{
	margin-bottom:8px !important;
}

.uk-margin-xsmall-left{
    margin-left: 8px;
}

.uk-margin-xxsmall-left{
    margin-left: 3px;
}

.uk-margin-xsmall-right{
    margin-right: 8px;
}
.uk-margin-top-negative{
    margin-top:-50px;
}

.uk-margin-tiny-bottom{
    margin-bottom: 7px;
}
