.wc-modal-body-scroll {
    max-height: 90vh;
    overflow: scroll;
}

.wc-popup-bag-wrapper {
    position: relative;
    &:hover .wc-popup-bag {
        visibility: visible;
    }
}

.wc-popup-bag{
    position: absolute;
    z-index: 2;
    width: 300px;
    background: rgb(255, 255, 255);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
    padding: 5px;
    top: 100%;
    right: 0;
    visibility: hidden;
}

.ReactModal__Overlay--after-open{
    z-index: 9999;
}