ul.uk-nav-sub {
    padding: 0;
    list-style-type: none;
    & li {
        & a {
            color: #333;
            width: 100%;
            display: block;
            text-decoration: none;
            padding: 5px 0 5px 20px;
            &:hover{
                color: $text-primary-color;
            }
        }
    }
}

.wc-filter-popup{
    height: 48px;
    line-height: 48px;
}