@media (min-width: $breakpoint-small) {

}

@media (min-width: $breakpoint-medium) {

}

@media (min-width: $breakpoint-large) {

}

@media (min-width: $breakpoint-xlarge) {

}

.uk-tiny-padding {
    padding: 3px;
}

.uk-padding-tiny {
    padding: 10px;
}
.uk-padding-tiny-bottom {
    padding-bottom: 10px;
}
.uk-padding-tiny-top {
    padding-top: 10px;
}
.uk-xsmall-padding{
    padding: 8px;
}
.uk-padding-medium{
    padding: 20px;
}
.uk-padding-xlarge-top{
    padding-top: 70px;
}
 