.uk-text-white{
    color: #ffffff!important;
}

.uk-text-black{
	color: #333333!important;
}

.uk-text-underline{
	text-decoration:underline;
}
.uk-text-normal{
	text-transform: inherit;
}
.uk-text-xlarge{
	font-size: 17px;
    word-spacing: 5px;
}
.uk-text-largest{
	font-size:195px;
	letter-spacing: 25px;
	line-height:1;
}

.wc-title {
	height: 40px;
	&:hover{
		color: $text-primary-color;
	}
}

.wc-price {
    font-size: 15px;
	font-weight: 500;
	color: #242424;
}

.uk-text-active {
	color: $text-active-color !important;
	&:hover, &:active{
		color: $text-active-color;
		text-decoration: none;
	}
}

.uk-text-additional {
    color: #969696;
}

.uk-text-normal{
	text-transform: initial;
	font-weight: initial;
	letter-spacing: 0;
	font-size: initial;
	color: initial;
}
.uk-text-italic {
	font-style: italic;
}

.uk-text-tiny {
	font-size: 11px;
}

.uk-text-slideshow {
	width: 100%;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	line-height: 1.5;
	font-weight: bold;
	//letter-spacing: 2px;
	text-transform: uppercase;
}