.uk-heading-border{
    height: 16px;
    border-left: 2px solid #ff9800;
}
.uk-cursor{
  cursor: pointer;
}
.uk-zindex-nearhighest{
  z-index: 8888;
}
.uk-zindex-highest{
  z-index: 9999;
}

.uk-modal-full{
  background: white;
}
.uk-item-height{
  line-height: 48px;
  height: 48px;
}

.uk-margin-tiny-left{
  margin-left: 10px;
}