// 1. Your custom variables and variable overwrites.
$logo-font-size:16px;
$color-extra:#eee;
$height-small-height: 48px;
$height-medium-height: 195px;
$height-large-height: 350px;
$global-medium-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); 
$text-small-font-size:12px;
$text-meta-font-size: 11px;
$text-large-font-size:14px;
$badge-size:19px;
$global-muted-color: #646464;
$badge-font-size:10px;
$text-white-color:#fff;
$text-primary-color:#303A96;
$text-emphasis-color:#FEDA00;
$text-active-color: #303A96;
$text-success-color: #04c38e;
$text-warning-color: #ff9800;
$badge-color: $text-white-color;
$badge-background:rgba(0, 0, 0, 0.44);
$text-muted-color:#969696;
$text-blur-color: #ebebeb;
$text-error-color: #f1152f;
$tab-item-color:#969696;
$tab-item-padding-horizontal:10px !default;
$tab-item-padding-vertical:15px !default;
$margin-small-margin:20px;
$margin-medium-margin:35px;
$navbar-toggle-color:#fff;
$tab-item-active-color:$text-active-color;
$navbar-background: #303A96;
$footer-background: #303A96;
$footer-title:#FEDA00;
$navbar-nav-item-height:auto;
$search-large-width:100%;
$search-large-font-size:$text-large-font-size;
$search-large-icon-width:20px;
$search-large-height:$height-small-height;
$nav-sublist-padding-left:50px;
$form-radio-checked-background:$text-primary-color;
$form-radio-checked-focus-background:$text-primary-color;
$alert-padding:8px;
$alert-padding-right:  $alert-padding + 30px !default;
$alert-close-top:4px;
$alert-close-right:7px;

$icon-button-border-radius:0;
$icon-button-color: $text-primary-color;
$base-link-color: #0070c9;
$lightbox-z-index:9999;
$search-large-width:100%;
$search-large-font-size:$text-large-font-size;
$search-large-icon-width:20px;
$search-large-height:$height-small-height;
$nav-sublist-padding-left:50px;
$internal-form-select-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22#000%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A" !default;
$internal-nav-parent-close-image:"data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='%23fff' stroke-width='1.03' points='16 7 10 13 4 7'%3E%3C/polyline%3E%3C/svg%3E";
$button-link-hover-text-decoration:none;
$panel-scrollable-border:transparent;
$panel-scrollable-height:750px;
$breadcrumb-divider: '/';

$background-primary-background:$text-primary-color;
$background-secondary-background:#F29E0D;
$background-muted-background: $text-muted-color;
$background-default-background: #fff;

$button-primary-background:$text-primary-color;
$button-primary-hover-background:$background-default-background;
$button-primary-hover-color :$text-primary-color;
$button-secondary-background:$text-emphasis-color;
$button-secondary-hover-background:$background-default-background;
$button-secondary-hover-color:$text-primary-color;
$global-color:#333 !default;
$global-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$internal-divider-icon-image: '';
$divider-small-width: 100%;
$divider-small-border: rgba(238, 238, 238, 0.3);
$offcanvas-z-index:9999;

$breakpoint-small: 0px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// MY CUSTOM
$margin-large-margin: 40px;
$margin-large-margin-l: 40px;

$base-body-font-size: 14px;

$global-danger-background: #f1152f;

$container-padding-horizontal-s: 20px;

$global-large-font-size: 16px;

$text-bold-font-weight: 600;

// 2. Import default variables and available mixins.
@import "variables-theme.scss";
@import "mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-tab-item() { 
	
 }
 @mixin hook-tab-item-active(){
 	border-bottom: 3px solid $tab-item-active-color;
 }
 @mixin hook-form(){
 	border:1px solid #ddd;
 }
 @mixin hook-form-focus(){
	border-color: $text-emphasis-color;
 }
 @mixin hook-icon-button(){
	border: 1px solid $color-extra; 
 }
@mixin hook-form-radio-focus(){
	border-color: $text-emphasis-color;
}
@mixin hook-notification-message-primary(){
    color: #ffffff!important;
    background: #32d296;
}
@mixin hook-panel-scrollable(){
	border-bottom:$panel-scrollable-border-width solid #dedede;
}
@mixin hook-button-primary-hover(){
	border: 1px solid $text-primary-color;
}
@mixin hook-button-secondary-hover(){
	border: 1px solid $text-emphasis-color;
}
$notification-z-index: 99999;
$modal-z-index: 9999;
$modal-dialog-width: 1024px;
//END MY CUSTOM
// 4. Import UIkit.
@import "uikit-theme.scss";

@import "plugins/extend.scss";
@import "plugins/button.scss";
@import "plugins/badges.scss";
@import "plugins/container.scss";
@import "plugins/flex.scss";
@import "plugins/margin.scss";
@import "plugins/text.scss";
@import "plugins/utility.scss";
@import "plugins/padding.scss";
@import "plugins/grid.scss";
@import "plugins/position.scss";
@import "plugins/utility.scss";
@import "plugins/background.scss";
@import "plugins/slider.scss";
@import "plugins/checkbox.scss";
@import "plugins/select.scss";
@import "plugins/form.scss";
@import "plugins/height.scss";
@import "plugins/footer.scss";
@import "plugins/nav.scss";
@import "plugins/crop.scss";
@import "plugins/image.scss";

@import "plugins/header.scss";
@import "plugins/animation.scss";
@import "plugins/carousel.scss";
@import "plugins/notification.scss";
@import "plugins/modal.scss";
@import "plugins/lightbox.scss";
@import "plugins/width.scss";
@import "plugins/credit.scss";